{{define "layout"}}
<!DocType html>
<html>
<head>
    <title>My Todo App</title>
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
</head>
<style>
    .completed {
        text-decoration: line-through;
    }
</style>
<body>
    {{template "content" .}}
</body>
</html>
{{end}}

